/*************************
Vendors
**************************/
/*************************
Key frames
**************************/
/*************************
Styles
**************************/
body {
  padding-top: 80px;
  margin: 0 auto;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-right a img {
  width: 18px;
  margin-right: 3px;
}
.divider-vertical {
  height: 50px;
  margin: 0 9px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  -o-border-radius: 0 6px 6px 6px;
  -ms-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenuhover>a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  -o-border-radius: 6px 0 6px 6px;
  -ms-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.nav .dropdown a .caret {
  margin-left: 8px;
}
.profile-info {
  position: relative;
  left: 23%;
  width: 35%;
  min-width: 250px;
  background: #fff;
  border-right: 1px solid #e8ebf0;
  -webkit-animation: showProfileInfo 0.4s ease-out forwards;
  -moz-animation: showProfileInfo 0.4s ease-out forwards;
  -o-animation: showProfileInfo 0.4s ease-out forwards;
  -ms-animation: showProfileInfo 0.4s ease-out forwards;
  animation: showProfileInfo 0.4s ease-out forwards;
}
.profile-info .avatar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfe2e9;
  background: url("/public/images/bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.profile-info .avatar img {
  position: relative;
  max-width: 65px;
  border: 3px solid #fff;
}
.profile-info .avatar .name {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.profile-info .avatar .position {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.profile-info .avatar .social {
  margin-top: 5px;
  position: relative;
}
.profile-info .avatar .social a {
  margin-left: 3px;
  margin-right: 3px;
}
.profile-info .main-details {
  border-bottom: 1px solid #dfe2e9;
}
.profile-info .tabs,
.profile-info .aditional-info .title {
  background: #f5f6f8;
  border-bottom: 1px solid #ced9eb;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.06);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.06);
  -o-box-shadow: 0px 1px 1px rgba(0,0,0,0.06);
  -ms-box-shadow: 0px 1px 1px rgba(0,0,0,0.06);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.06);
}
.profile-info .tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.profile-info .tabs ul li {
  display: inline-block;
}
.profile-info .tabs ul li a {
  padding: 17px 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #688ea7;
  font-weight: bold;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.profile-info .tabs ul li a.active {
  color: #333;
  font-weight: bold;
}
.profile-info .tabs ul li a.active:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #1ddbf1;
  left: 0;
  bottom: -1px;
}
.profile-info .tabs-content,
.profile-info .aditional-info .details {
  padding: 0 20px;
  margin-top: 20px;
}
.profile-info .tabs-content .field,
.profile-info .aditional-info .field {
  margin-bottom: 15px;
  font-size: 13px;
}
.profile-info .tabs-content .field .value {
  color: #454545;
}
.profile-info .tabs-content .tab {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  -moz-transform: scale3d(0.8, 0.8, 0.8);
  -o-transform: scale3d(0.8, 0.8, 0.8);
  -ms-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.profile-info .tabs-content .tab.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.profile-info .tabs-content .tab .field .value {
  word-wrap: break-word;
}
.profile-info .aditional-info {
  margin-top: 20px;
}
.profile-info .aditional-info .title {
  padding: 17px 20px;
}
footer .container {
  border-top: 1px solid #e8ebf0;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.page-controls {
  margin-top: 30px;
}
.page-controls .filters .links label {
  font-size: 15px;
  margin-right: 20px;
}
.page-controls .filters .links a {
  margin-right: 25px;
  color: #666;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.page-controls .filters .show-options .dropdown>a span i {
  font-size: 11px;
  margin-left: 6px;
}
.page-controls .filters .show-options .dropdown {
  display: inline-block;
  position: relative;
  top: -6px;
  margin-right: 20px;
}
.page-controls .filters .show-options .grid-view,
.page-controls .filters .show-options .list-view {
  position: relative;
  top: -2px;
  font-size: 18px;
  color: #bbb;
  text-decoration: none;
  margin-left: 14px;
}
.page-controls .filters .show-options .grid-view.active,
.page-controls .filters .show-options .list-view.active {
  color: #111;
}
.page-controls .filters .links a.active {
  color: #378fca;
  font-weight: bold;
  border-bottom: 1px solid #82bfe9;
}
.items-list {
  margin-top: 35px;
  margin-bottom: 40px;
}
.items-list .headers {
  padding: 10px 0;
  min-height: 45px;
}
.items-list .headers .header label {
  height: 100%;
  width: 100%;
  font-weight: 600;
  color: #333;
}
.headers .header.select-items .bulk-actions a i {
  font-size: 10px;
  position: relative;
  margin-left: 5px;
}
.items-list .headers .header label a {
  display: block;
  font-weight: bold;
  color: #333;
  background: #fff;
  -webkit-transition: all 0.14s linear;
  -moz-transition: all 0.14s linear;
  -ms-transition: all 0.14s linear;
  -o-transition: all 0.14s linear;
  -webkit-transition: all 0.14s linear;
  -moz-transition: all 0.14s linear;
  -o-transition: all 0.14s linear;
  -ms-transition: all 0.14s linear;
  transition: all 0.14s linear;
}
.items-list .headers .header.select-items .bulk-actions {
  position: absolute;
  top: 0px;
  left: 75px;
  width: 300px;
  display: none;
}
.items-list .item .avatar input[type="checkbox"] {
  margin-right: 25px;
  cursor: pointer;
}
.items-list .item.row {
  border-bottom: 1px solid #f0f0f0;
  padding: 8px 0;
}
.items-list .item .item-list .avatar img {
  max-width: 45px;
}
.items-list .item .item-list .name {
  position: relative;
  top: 13px;
  color: #333;
}
.items-list .item .item-list .label {
  position: relative;
  top: 13px;
}
.items-list .item.row:nth-child(2n) {
  background: #fafafc;
}
.items-list .item .item-list .email,
.items-list .item .item-list .created-at {
  position: relative;
  top: 13px;
  font-size: 13px;
}
.items-list .item .item-grid .avatar img {
  max-width: 85px;
  border: 3px solid #fff;
}
.items-list .item .item-grid div {
  margin-top: 5px;
}
.items-list .item .item-grid .name {
  color: #333;
  font-weight: bold;
  margin-top: 8px;
}
.items-list .item .item-grid div:first-child {
  margin-top: 15px;
}
.items-list .item .item-grid div:last-child {
  margin-bottom: 15px;
}
.form-signin,
.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-signup .form-signin-heading,
.form-signup .checkbox{
  margin-bottom: 10px;
}
.form-signin .checkbox,
.form-signup .checkbox{
  font-weight: normal;
}
.form-signin .form-control,
.form-signup .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signup input[name="email"],
.form-signup input[name="username"],
.form-signup input[name="displayName"] {
    margin-bottom: 10px;
}
.form-signup input[name="password"],
.form-signin input[name="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input[name="repeatPassword"],
.form-signin input[name="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.login-box {
  max-width: 450px;
  margin: 0 auto;
}
img.login-avatar {
  width: 100px;
  margin-bottom: 15px;
}
.social_links {
  margin: 0 auto;
  margin-top: 40px;
}
.headers .header.select-items .bulk-actions a span i {
  margin-left: 0;
}
.search-results .dropdown-menu {
  margin-top: 10px;
  width: 350px;
}
@-moz-keyframes showProfileInfo {
  0% {
    left: -23%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes showProfileInfo {
  0% {
    left: -23%;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes showProfileInfo {
  0% {
    left: -23%;
  }
  100% {
    left: 0;
  }
}
@keyframes showProfileInfo {
  0% {
    left: -23%;
  }
  100% {
    left: 0;
  }
}
