<a href="#" data-toggle="dropdown" class="dropdown-toggle">
    <span class="glyphicon glyphicon-search"></span> Search<b class="caret"></b>
</a>

<ul style="min-width: 300px;" class="dropdown-menu">
    <li>
        <div class="row">
            <div class="col-md-12">
                <form role="search" class="navbar-form navbar-left ng-pristine ng-valid">
                    <div class="input-group">
                        <input type="text" placeholder="Search" ng-model="search.q" ng-change="go()" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="go()">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </li>
    <li class="dropdown search-results hidden">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-header">Users</li>
            <li ng-repeat="user in results.users">
                <a href="/admin/users/{{user._id}}">{{user.displayName}}</a>
            </li>
            <li ng-if="results.users.length === 0"><a>No users found...</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Other</li>
            <li><a>No items found...</a></li>
        </ul>
    </li>
</ul>