<div class="page-controls">
    <div class="filters row">
        <div class="links col-xs-6">
            <div>
                <label>Filter users</label>
            </div>
            <div>
                <a href="javascript:void(0);" class="active" ng-click="filter(null, $event)">All users&nbsp;({{users.length}})</a>
                <a href="javascript:void(0);"ng-click="filter({active:true}, $event)">Enabled&nbsp;({{enabledUsers.length}})</a>
                <a href="javascript:void(0);" ng-click="filter({active:false}, $event)">Disabled&nbsp;({{disabledUsers.length}})</a>
                <a href="javascript:void(0);" ng-click="filter({role:{admin:true}}, $event)">Admins&nbsp;({{adminUsers.length}})</a>
                <a href="javascript:void(0);" ng-click="filter({role:{admin:false}}, $event)">Normals&nbsp;({{normalUsers.length}})</a>
            </div>
        </div>
        <div class="show-options col-xs-6 text-right">
            <div class="dropdown text-left">
                <a data-toggle="dropdown" href="javascript:void(0);" class="btn btn-default">
                    <span>Show <strong>{{itemsPerPage}}</strong> rows</span>
                </a>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                    <li><a href="javascript:void(0);" ng-click="itemsPerPage=20">20</a></li>
                    <li><a href="javascript:void(0);" ng-click="itemsPerPage=60">60</a></li>
                    <li><a href="javascript:void(0);" ng-click="itemsPerPage=100">100</a></li>
                    <li><a href="javascript:void(0);" ng-click="itemsPerPage=users.length">All</a></li>
                </ul>
            </div>
            <div class="dropdown text-left">
                <a data-toggle="dropdown" href="javascript:void(0);" class="btn btn-default">
                    <span>Sort by <i class="glyphicon glyphicon-sort"></i></span>
                </a>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                    <li><a href="javascript:void(0);" ng-click="sortBy('displayName')">Name</a></li>
                    <li><a href="javascript:void(0);" ng-click="sortBy('emails')">Email</a></li>
                    <li><a href="javascript:void(0);" ng-click="sortBy('role.admin')">Role</a></li>
                    <li><a href="javascript:void(0);" ng-click="sortBy('active')">Status</a></li>
                    <li><a href="javascript:void(0);" ng-click="sortBy('createdAt')">Signed up</a></li>
                </ul>
            </div>
            <a href="javascript:void(0);" data-grid=".items-list" class="list-view active" ng-click="showList()">
                <i class="glyphicon glyphicon-th-list"></i>
            </a>
            <a href="javascript:void(0);" data-grid=".items-grid" class="grid-view"  ng-click="showGrid()">
                <i class="glyphicon glyphicon-th"></i>
            </a>
        </div>
    </div>
</div>
<div class="items-list col-md-12">
    <div class="row headers">
        <div class="col-sm-2 header select-items">
            <input type="checkbox" ng-model="master" ng-click="masterCheck()">
            <div class="dropdown bulk-actions">
                <a data-toggle="dropdown" href="javascript:void(0);"> Bulk actions<span
                    class="total-checked">(0 total users)</span>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                    <li><a class="filters_all" href="javascript:void(0);" ng-click="deleteMultiple()"><span class="label label-danger">delete</span> users</a></li>
                    <li><a class="filters_enabled" href="javascript:void(0);" ng-click="enabledMultiple()"><span class="label label-success">enable</span> users</a></li>
                    <li><a class="filters_disabled" href="javascript:void(0);" ng-click="disabledMultiple()"><span class="label label-danger">disabled</span> users</a></li>
                    <li><a class="filters_as_admin" href="javascript:void(0);" ng-click="setAsAdmin()">Set as <span class="label label-info">admin</span> users</a></li>
                    <li><a class="filters_as_normal" href="javascript:void(0);" ng-click="setAsNormal()">Set as <span class="label label-warning">normal</span> users</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 header hidden-xs">
            <label><a href="javascript:void(0);" ng-click="sortBy('displayName')">Name</a></label>
        </div>
        <div class="col-sm-3 header hidden-xs">
            <label><a href="javascript:void(0);" ng-click="sortBy('emails')">Email</a></label>
        </div>
        <div class="col-sm-1 header hidden-xs">
            <label><a href="javascript:void(0);" ng-click="sortBy('role.admin')">Role</a></label>
        </div>
        <div class="col-sm-1 header hidden-xs">
            <label><a href="javascript:void(0);" ng-click="sortBy('active')">Status</a></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
            <label class="text-right"><a href="javascript:void(0);" ng-click="sortBy('createdAt')">Signed up</a></label>
        </div>
    </div>

    <div class="item {{classItemList}}" ng-repeat="user in ( filteredUsers | orderBy:predicate:reverse  | startFrom:(currentPage - 1)*itemsPerPage | limitTo:itemsPerPage ) ">
        <div class="item-list" ng-show="listVisible">
            <div class="col-sm-2 avatar">
                <input type="checkbox" name="select-user" ng-model="user.selected" ng-change="change()" value="{{user._id}}">
                <get-avatar value="user.avatar"></get-avatar>
            </div>
            <div class="col-sm-3">
                <a href="/admin/#/users/{{user._id}}" class="name">{{user.displayName}}</a>
            </div>
            <div class="col-sm-3">
                <div class="email">{{user.emails[0]}}</div>
            </div>
            <div class="col-sm-1">
                <div class="role"><is-admin value="user.role.admin"></is-admin></div>
            </div>
            <div class="col-sm-1">
                <div class="role"><status value="user.active"></status></div>
            </div>
            <div class="col-sm-2">
                <div class="created-at text-right">{{user.createdAt | date:'mediumDate'}}</div>
            </div>
        </div>
        <div class="item-grid text-center" ng-show="gridVisible">
            <div class="avatar">
                <get-avatar value="user.avatar"></get-avatar>
            </div>
            <div class="name">
                <a href="/admin/#/users/{{user._id}}" class="name">{{user.displayName}}</a>
            </div>
            <div class="email">{{user.emails[0]}}</div>
            <div class="role"><is-admin value="user.role.admin"></is-admin></div>
            <div class="status"><status value="user.active"></status></div>
        </div>
    </div>
    <div class="row item" ng-if="filteredUsers.length === 0">
        <div class="col-md-12  col-xs-12">
            <strong>Not founds!</strong>
        </div>
    </div>
    <div class="row" ng-show="(filteredUsers.length > itemsPerPage)">
        <div class="col-md-12 col-xs-12">
            <pagination total-items="filteredUsers.length" items-per-page="itemsPerPage"  ng-model="currentPage" ng-change="pageChanged(this)"></pagination>
        </div>
    </div>
</div>