<div class="profile-info">
    <div class="avatar">
        <img src="/public/images/avatar_2x.png" class="img-circle">
        <div class="name">{{(getCurrentUser()).displayName}}</div>
        <div class="social">{{getCurrentUserRole()}}</div>
    </div>
</div>