<h2>An error has occurred:</h2>
<div class="alert alert-danger">
    <p><strong>Error:</strong> {{error}}</p>
    <p><strong>Code:</strong> {{code}}</p>
    <p><strong>Context:</strong> {{context}}</p>
</div>