<div class="jumbotron">

    <h1>Hola!</h1>

    <p>La idea de este pequeño sitio es servir de ejemplo y/o muestra básica de la calidad de código y experiencia que tengo en el desarrollo con NODE JS, EXPRESS, MONGODB, ANGULAR JS, JADE, STYLUS</p>
    <i>Omar T. Alegre.</i>

</div>