doctype html
html(ng-app="app")
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/public/libs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/libs/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/public/css/style.css')
        script(src='/public/libs/jquery/jquery-2.1.1.min.js')
        script(src='/public/libs/bootstrap/js/bootstrap.min.js')
        script(src='/public/libs/bootbox/bootbox.js')
        script(src='/public/libs/angular/angular.js')
        script(src='/public/libs/angular/angular-route.js')
        script(src='/public/libs/angular/angular-cookies.js')
        script(src='/public/libs/ui-bootstrap-tpls/ui-bootstrap-tpls-0.11.0.min.js')
        script(src='/public/app/front/app.js')
        script(src='/public/app/front/auth/controllers.js')
        script(src='/public/app/front/auth/services.js')
        script(src='/public/app/front/user/controllers.js')
        //script(src='/app/front/user/filters.js')
        //script(src='/app/front/user/directives.js')
        //script(src='/app/front/user/services.js')
        //
        //script(src='/app/front/search/controllers.js')
        //script(src='/app/front/search/filters.js')
        //script(src='/app/front/search/directives.js')
        //script(src='/app/front/search/services.js')
        <!--[if lt IE 9]>
        script(src="/public/libs/html5shiv/html5shiv.min.js")
        script(src="/public/libs/respond/respond.min.js")
        <![endif]-->
    body(ng-controller="AppController")
        header
            nav
                div(class="navbar navbar-default navbar-fixed-top")
                    div(class="container")
                        div(class="navbar-header")
                            a(href="/#/", class="navbar-brand") Web App Development
                        ul(class="nav navbar-nav navbar-right")
                            li(id="home")
                                a(href="/#/") Home
                            li(id="users")
                                a(href="/#/users") Usuarios
                            li(ng-show="!getCurrentUser()", id="login")
                                a(href="/#/login") Ingresar
                            li(ng-show="isAuthorized(['admin', 'normal'])", class="dropdown active")
                                a(href="javascript:void(0);", data-toggle="dropdown", class="dropdown-toggle")
                                    img(src="/public/images/avatar_2x.png", class="img-circle")
                                    | {{(getCurrentUser()).displayName}}
                                    b(class="caret")
                                ul(class="dropdown-menu")
                                    li(class="active")
                                        a(href="/#/profile")
                                            span(class="glyphicon glyphicon-user")
                                            | Profile
                                    li
                                        a(href="/#/settings")
                                            span(class="glyphicon glyphicon-cog")
                                            | Settings
                                    li(class="divider")
                                    li
                                        a(href="javascript:void(0);", ng-click="logout()")
                                            span(class="glyphicon glyphicon-off")
                                            | Logout
        block content
        footer
            div.container
                p(class="text-muted") Copyright 2014