doctype html
html(ng-app="app")
    head
        title titulo

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")

    body
        div.container
            block content