<div class="jumbotron login-box text-center">
    <form name="loginForm" ng-submit="localLogin(loginForm.$valid)" class="form-signin" novalidate>
        <img src="/public/images/avatar_2x.png" class="img-circle login-avatar">
        <div ng-show="(loginForm.username.$invalid && !loginForm.username.$pristine) || (loginForm.password.$invalid && !loginForm.password.$pristine)" class="alert alert-danger" role="alert">
            <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine">Username is required!</p>
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">Password is required!</p>
        </div>
        <input type="text" ng-model="credentials.username" name="username" placeholder="Username" class="form-control" required>
        <input type="password" ng-model="credentials.password" name="password" placeholder="Password" class="form-control" required>
        <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block">
    </form>
    <div class="social_links">
        <p>Login or Register with:</p>
        <a href="/#/signup" class="btn btn-default">Sign Up</a>
        <a href="javascript:void(0);" ng-click="facebookLogin()" class="btn btn-primary">Facebook</a>
        <a href="javascript:void(0);" ng-click="twitterLogin()" class="btn btn-info">Twitter</a>
        <a href="javascript:void(0);" ng-click="googleLogin()" class="btn btn-danger">Google</a>
    </div>
</div>