<div class="jumbotron login-box text-center">
    <form name="signupForm" ng-submit="localSignup(signupForm.$valid)" method="post" role="form" class="form-signup" novalidate>
        <img src="/public/images/avatar_2x.png" class="img-circle login-avatar">

        <div ng-show="(signupForm.username.$invalid && !signupForm.username.$pristine) || (signupForm.password.$invalid && !signupForm.password.$pristine) || (signupForm.email.$invalid && !signupForm.email.$pristine) || (signupForm.repeatPassword.$invalid && !signupForm.repeatPassword.$pristine)" class="alert alert-danger" role="alert">
            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">Email is required!</p>
            <p ng-show="signupForm.username.$invalid && !signupForm.username.$pristine">Username is required!</p>
            <p ng-show="signupForm.displayName.$invalid && !signupForm.displayName.$pristine">Display Name is required!</p>
            <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">Password is required!</p>
            <p ng-show="signupForm.repeatPassword.$invalid && !signupForm.repeatPassword.$pristine">Repeat Password is required!</p>
        </div>

        <input type="email" ng-model="credentials.email" name="email" placeholder="Email" class="form-control" required>

        <input type="text" ng-model="credentials.username" name="username" placeholder="Username" class="form-control" required ng-minlength="5">

        <input type="text" ng-model="credentials.displayName" name="displayName" placeholder="Display Name" class="form-control" required>

        <input type="password" ng-model="credentials.password" name="password" placeholder="Password" class="form-control" required>
        <input type="password" ng-model="credentials.repeatPassword" name="repeatPassword" placeholder="Repeat Password" class="form-control" required>

        <input type="submit" value="Sign Up" class="btn btn-lg btn-primary btn-block">
    </form>
</div>